html {
  display: block;
  line-height: 1.3em;
  font-size: 1.2em;
  font-family: system-ui, sans-serif;
  margin: 1rem max(1rem, 45% - 25rem);
  color: #210b1c;
  background-color: lavenderblush;
}
a {
  color: #000000;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.2em;
  font-weight: 300;
  font-style: italic;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: circle;
}
summary {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
iframe {
  border: none;
  height: 400px;
  width: 100%;
}
footer {
  margin-top: 1.5rem;
  font-size: 0.9em;
  text-align: center;
}
